In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import MinMaxScaler, StandardScaler

path = 'imdb_top_250_movies_with_ratings.csv'
df = pd.read_csv(path)

# Simpan salinan dataset asli untuk perbandingan nanti
df_awal = df.copy()

print("--- DATASET SEBELUM DIBERSIHKAN ---")
print("\nInfo Awal Dataset:")
df_awal.info()

print("\n5 Baris Pertama Data Awal:")
display(df_awal.head())

--- DATASET SEBELUM DIBERSIHKAN ---

Info Awal Dataset:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   title      250 non-null    object
 1   year       250 non-null    int64
 2   duration   250 non-null    object
 3   rating     250 non-null    float64
 4   directors  250 non-null    object
 5   stars      250 non-null    object
dtypes: float64(1), int64(1), object(4)
memory usage: 11.8+ KB

5 Baris Pertama Data Awal:

,title,year,duration,rating,directors,stars
0,The Shawshank Redemption,1994,2h 22m,9.3,Frank Darabont,"Tim Robbins, Morgan Freeman, Bob Gunton"
1,The Godfather,1972,2h 55m,9.2,Francis Ford Coppola,"Marlon Brando, Al Pacino, James Caan"
2,The Dark Knight,2008,2h 32m,9.1,Christopher Nolan,"Christian Bale, Heath Ledger, Aaron Eckhart"
3,The Godfather Part II,1974,3h 22m,9.0,Francis Ford Coppola,"Al Pacino, Robert De Niro, Robert Duvall"
4,12 Angry Men,1957,1h 36m,9.0,Sidney Lumet,"Henry Fonda, Lee J. Cobb, Martin Balsam"

In [8]:
print("\n--- Konversi Tipe Data ---")
print("Tipe data sebelum konversi:")
print(df.dtypes)

# Konversi kolom 'year' ke integer dan 'rating' ke float
df['year'] = df['year'].astype(int)
df['rating'] = df['rating'].astype(float)

# Duration awalnya dalam format string seperti '2h 30m', kita akan mengonversinya ke total menit sebagai integer
def convert_duration_to_minutes(duration_str):
    """Konversi format durasi 'Xh Ym' menjadi total menit."""
    if not isinstance(duration_str, str):
        return None
    
    hours = 0
    minutes = 0
    
    if 'h' in duration_str:
        parts = duration_str.split('h')
        hours = int(parts[0].strip())
        if len(parts) > 1 and 'm' in parts[1]:
            minutes = int(parts[1].replace('m', '').strip())
    elif 'm' in duration_str:
        minutes = int(duration_str.replace('m', '').strip())
    
    return (hours * 60) + minutes

# Buat kolom baru 'durasi_menit' dan hapus kolom 'duration' yang lama
df['durasi_menit'] = df['duration'].apply(convert_duration_to_minutes)
df = df.drop(columns=['duration'])

print("\nTipe data setelah konversi:")
print(df.dtypes)
print("\nHasil konversi durasi:")
display(df[['title', 'durasi_menit']].head())

--- Konversi Tipe Data ---
Tipe data sebelum konversi:
title         object
year           int64
duration      object
rating       float64
directors     object
stars         object
dtype: object

Tipe data setelah konversi:
title            object
year              int64
rating          float64
directors        object
stars            object
durasi_menit      int64
dtype: object

Hasil konversi durasi:

                      title  durasi_menit
0  The Shawshank Redemption           142
1             The Godfather           175
2           The Dark Knight           152
3     The Godfather Part II           202
4              12 Angry Men            96

In [10]:
# Simpan dataset yang sudah dibersihkan ke file CSV baru
output_path = 'imdb_top_250_movies_cleaned.csv'
df.to_csv(output_path, index=False)
print(f"Dataset berhasil disimpan ke: {output_path}")

display(df.head())

Dataset berhasil disimpan ke: imdb_top_250_movies_cleaned.csv

,title,year,rating,directors,stars,durasi_menit
0,The Shawshank Redemption,1994,9.3,Frank Darabont,"Tim Robbins, Morgan Freeman, Bob Gunton",142
1,The Godfather,1972,9.2,Francis Ford Coppola,"Marlon Brando, Al Pacino, James Caan",175
2,The Dark Knight,2008,9.1,Christopher Nolan,"Christian Bale, Heath Ledger, Aaron Eckhart",152
3,The Godfather Part II,1974,9.0,Francis Ford Coppola,"Al Pacino, Robert De Niro, Robert Duvall",202
4,12 Angry Men,1957,9.0,Sidney Lumet,"Henry Fonda, Lee J. Cobb, Martin Balsam",96